IFN666 - Web and Mobile Application Development/Assignment2/client/src/img/ic_stock.png
IFN666 - Web and Mobile Application Development/Assignment2/client/src/index.js
IFN666 - Web and Mobile Application Development/Assignment2/client/src/js/home.js
IFN666 - Web and Mobile Application Development/Assignment2/client/src/js/lib/AgGridTable.js
IFN666 - Web and Mobile Application Development/Assignment2/client/src/js/lib/ChartJs.js
IFN666 - Web and Mobile Application Development/Assignment2/client/src/js/lib/commonUtil.js
IFN666 - Web and Mobile Application Development/Assignment2/client/src/js/lib/D3Chart.js
IFN666 - Web and Mobile Application Development/Assignment2/client/src/js/stockHistory.js
IFN666 - Web and Mobile Application Development/Assignment2/client/src/js/stockSearch.js
IFN666 - Web and Mobile Application Development/Assignment2/IFN666_Assignment3_Rymin(n10306986).docx
IFN666 - Web and Mobile Application Development/Assignment2/Rubric.docx
IFN666 - Web and Mobile Application Development/Assignment2/VSCodeUserSetup-x64-1.44.2.exe
IFN666 - Web and Mobile Application Development/Assignment2/working_with_data_tables_in_react.pdf
IFN666 - Web and Mobile Application Development/Assignment3/code.zip
IFN666 - Web and Mobile Application Development/Assignment3/report.docx
IFN680 - Advanced Topics in Artificial Intelligence/main.py
